<div>
    <div class="header">
        <p></p>
        <div class="theme-switcher">
            <img src="/assets/images/sun-icon.svg" alt="sun-icon">
            <label for="theme-toggle" class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider"></span>
            </label>
            <img src="/assets/images/moon-icon.svg" alt="moon-icon">
        </div>
    </div>

    <div class="center-page">
        <div class="textStyle">
            <h1>Welcome to the <br><span>Frontend Quiz!</span></h1>
            <p>Pick a subject to get started.</p>
        </div>
        <div class="main">
            <div class="topics" *ngFor = "let quiz of allQuizzes">
                <div class="Img-text"  >
                   <img [src]="quiz.icon" alt="">
                    <p>{{quiz.title}}</p>
                </div>
            </div>
        </div>
    </div> 
</div>